.button-arduino.amarelo {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button-arduino.amarelo:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button-arduino.amarelo:active {
	position:relative;
	top:1px;
}


.button-arduino.vermelho {
	-moz-box-shadow: 0px 1px 0px 0px #e67a73;
	-webkit-box-shadow: 0px 1px 0px 0px #e67a73;
	box-shadow: 0px 1px 0px 0px #e67a73;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
	background:-moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
	background-color:#e4685d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eb675e;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23d35;
}
.button-arduino.vermelho:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
	background-color:#eb675e;
}
.button-arduino.vermelho:active {
	position:relative;
	top:1px;
}

.button-arduino.verde {
	-moz-box-shadow: 0px 1px 0px 0px #3e7327;
	-webkit-box-shadow: 0px 1px 0px 0px #3e7327;
	box-shadow: 0px 1px 0px 0px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3e7327;
}
.button-arduino.verde:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.button-arduino.verde:active {
	position:relative;
	top:1px;
}

.button-arduino.azul {
	-moz-box-shadow: 0px 1px 0px 0px #bee3f9;
	-webkit-box-shadow: 0px 1px 0px 0px #bee3f9;
	box-shadow: 0px 1px 0px 0px #bee3f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b9ee), color-stop(1, #468dcf));
	background:-moz-linear-gradient(top, #63b9ee 5%, #468dcf 100%);
	background:-webkit-linear-gradient(top, #63b9ee 5%, #468dcf 100%);
	background:-o-linear-gradient(top, #63b9ee 5%, #468dcf 100%);
	background:-ms-linear-gradient(top, #63b9ee 5%, #468dcf 100%);
	background:linear-gradient(to bottom, #63b9ee 5%, #468dcf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b9ee', endColorstr='#468dcf',GradientType=0);
	background-color:#63b9ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3867a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cabde;
}
.button-arduino.azul:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468dcf), color-stop(1, #63b9ee));
	background:-moz-linear-gradient(top, #468dcf 5%, #63b9ee 100%);
	background:-webkit-linear-gradient(top, #468dcf 5%, #63b9ee 100%);
	background:-o-linear-gradient(top, #468dcf 5%, #63b9ee 100%);
	background:-ms-linear-gradient(top, #468dcf 5%, #63b9ee 100%);
	background:linear-gradient(to bottom, #468dcf 5%, #63b9ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468dcf', endColorstr='#63b9ee',GradientType=0);
	background-color:#468dcf;
}
.button-arduino.azul:active {
	position:relative;
	top:1px;
}

.classGray {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #cccccc)) !important;
	background:-moz-linear-gradient(top, #cccccc 5%, #cccccc 100%) !important;
	background:-webkit-linear-gradient(top, #cccccc 5%, #cccccc 100%) !important;
	background:-o-linear-gradient(top, #cccccc 5%, #cccccc 100%) !important;
	background:-ms-linear-gradient(top, #cccccc 5%, #cccccc 100%) !important;
	background:linear-gradient(to bottom, #cccccc 5%, #cccccc 100%) !important;
}